.item-detail-title, .item-detail-price {
  font-family: $lato-bold;
  color: #646460;
}

.price-decimals {
  font-size: 18px;
  font-family: $lato-bold;
  margin-left: 5px;
}

.buy-button {
  width:100%;
  padding: .5rem 1rem;
  border-radius: .3rem;
  color: #fff;
  background-color: $color-blue;
  border-color: transparent;
  box-shadow: 0 0 0 0 #fff;
  font-size: 16px;
  font-family: $lato-bold;
}

.description-title {
  font-family: $lato-regular;
}

.description-body {
  font-size: 18px;
}