$color-main: #FFE600;
$color-blue: #3483FA;
$color-green: #00A650;

//Typografy
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$lato-light: 'Lato-light';
$lato-regular: 'Lato-regular';
$lato-bold: 'Lato-bold';
$lato-black: 'Lato-black';
